mixin bookBlock(id, headline, desc, mainLink, mainText)
    div.book-block(href="#")
        a(href=mainLink)
            div.book-block__cover
                img(src=`http://soshnikov-writing.art/img/${id}-og.jpg`)
            div.book-block__headline=headline
            div.book-block__desc=desc
            div.book-block__links
                a.book-block__button(href=mainLink)=mainText
                //a(href=`files/${id}.pdf`) Скачать PDF
                //a(href=`files/${id}.epub`) Скачать EPUB