mixin bookCard(name, source, description, info, href, target="_self")
    a(href=href, target=target).book-card
        div.book-card__name=name
            if info === ''
            else
                span=info
        div.book-card__info=source