mixin bookCard(name, source, description, info, href, target="_self")
    a(href=href, target=target).book-card
        div.book-card__content
            div.book-card__content-name=name
            if info === ''
            else
                div.book-card__content-info=info
        div.book-card__info=source